.goods {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  position: absolute;
  top: -6%;
  right: 0;

  &__pagination {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }

  &__subtitle {
    margin: 0;
  }
}

.wrapper {
  display: flex;
  gap: 30px;
}

.slide {
  &__img {
    border-radius: 3px;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
    color: var(--background-header);
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: var(--primary-text-size);
    line-height: 1.5;
    color: var(--primary-color);
  }

  &__price {
    font-size: 20px;
    font-weight: 700;
    line-height: 2;
    color: var(--price-color);
    margin-top: 17px;
  }
}
