.container {
  padding-left: 98px;
  padding-right: 98px;
}

.goods {
  padding-bottom: 80px;

  &__title {
    margin: 0;
    font-size: var(--title-reviews-text-size);
    line-height: 1.5;
    color: var(--background-header);
  }
}
